<ion-content>
  <header>
    <ion-icon name="arrow-round-back" (click)="goBack()"></ion-icon>
    <span>{{ 'DEPARTMENTS.TITLE' | translate }}</span>
  </header>
  <div id="search-bar">
    <ion-icon name="search"></ion-icon>
    <input type="text" placeholder="{{ 'DEPARTMENTS.INPUT_PLACEHOLDER' | translate }}" (input)="filter($event)">
  </div>
  <div id="departments">
    <ng-container *ngFor="let d of departments">
      <div class="department" *ngIf="d[0]===1" style="background-image: url('assets/imgs/departments/cardio.png')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===2" style="background-image: url('assets/imgs/departments/neurologie.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===3" style="background-image: url('assets/imgs/departments/oncologue.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===4" style="background-image: url('assets/imgs/departments/allergologie.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===5" style="background-image: url('assets/imgs/departments/dermato.png')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===6" style="background-image: url('assets/imgs/departments/gastro.png')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===7" style="background-image: url('assets/imgs/departments/geriatrie.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===8" style="background-image: url('assets/imgs/departments/gyneco.png')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===9" style="background-image: url('assets/imgs/departments/hematologie.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
      <div class="department" *ngIf="d[0]===10" style="background-image: url('assets/imgs/departments/hepatologie.jpg')" (click)="goToDoctorsList(d[0])">
        <label>{{ d[1] }}</label>
      </div>
  </ng-container>
  </div>
</ion-content>
