page-home {
  #container {
    background-color: #fff;
    #header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: color($colors, primary);
      padding: 16px;
      color: #fff;
      h1 {
        margin: 0;
      }
      ion-icon {
        font-size: 30px;
      }
    }
    section.category {
      display: flex;
      align-items: center;
      border-bottom: 2px solid #aaa;
      div.img-container {
        width: 30%;
        padding: 10px;
        text-align: center;
        img {
          max-height: 95px;
          vertical-align: middle;
          max-width: 100%;
        }
      }
      div.text-container {
        padding: 10px 15px;
        h2 {
          font-size: 1.8rem;
          margin-top: 0;
          margin-bottom: 3px;
        }
        p {
          margin: 3px;
          font-size: 1.2rem;
          font-weight: bold;
          color: #666;
        }
      }
    }
    button {
      color: white;
      background-color: #02735f;
      font-weight: bold;
      display: block;
      width: 70%;
      padding: 10px;
      border-radius: 5px;
      margin: 30px auto;
    }
  }
}
