page-home {
  #container {
    background-color: #fff;
    #header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 300px;
      background-image: url('../assets/imgs/homepage/paris.jpg');
      background-position: center center;
      background-size: cover;
      color: #fff;
      h1 {
        margin: 0;
        font-size: 60px;
        margin-bottom: 30px;
        font-weight: lighter;
      }
      button {
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        background-color: transparent;
        padding: 5px;
      }
    }
    section#appointments {
      h2 {
        font-weight: lighter;
        color: #000;
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }

    hr {
      width: 75%;
      background-color: rgba($color: #000, $alpha: 0.5)
    }

    section#contact {
      h2 {
        font-weight: lighter;
        color: #000;
        margin-top: 5px;
        margin-bottom: 20px;
      }
      p {
        ion-icon {
          width: 23px;
          font-size: 22px;
          vertical-align: middle;
        }
      }
      form {
        margin-top: 10px;
        .error {
          color: #ff0000;
          margin-bottom: 0;
          margin-top: 20px;
        }
        textarea {
          width: 100%;
          height: 150px;
          resize: none;
          margin-top: 15px;
          border: .5px solid #333;
        }
        button {
          width: 100%;
          padding: 10px;
          margin-top: 7px;
          color: #fff;
          background-color: color($colors, primary);
          border: 0;
          ion-spinner * {
            stroke: #fff;
          }
        }
      }
    }
  }
}
