page-home {
  #container {
    background-color: #fff;
    #header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 350px;
      background-image: url('../assets/imgs/homepage/paris.jpg');
      background-position: center center;
      background-size: cover;
      .catch-phrase {
        background-color: #fff;
        color: #333;
        border-radius: 15px 0 0 15px;
        padding: 13px;
        margin-left: 25px;
        max-width: 230px;
        font-size: 1.2em;
      }
      button {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        background-color: #19d7e7;
        color: #fff;
        width: 60%;
        font-size: 1.1em;
        padding: 5px;
        line-height: 34px;
        border-radius: 5px;
      }
    }

    #bubbles {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 50px 5px 0;
      .bubble-container {
        width: 33.3333333%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .bubble {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-position: center center;
            background-size: cover;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
