page-appointments {
  h1 {
    color: #1ca74a;
    margin-left: 20px;
    margin-top: 4rem;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: normal;
  }
  #container {
    background-color: #fff;

    #appointments {
      padding: 20px;
    }
  }

  #appointment {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    button {
      width: 100%;
      padding: 13px;
      background-color: #3acfd5;
      color: #fff;
      font-size: 1.2em;
      border-radius: 3px;
      box-shadow: 0px 2px 7px #999;
    }
  }
}
