<ion-content>

  <header>
    <ion-icon name="person"></ion-icon>
    <span>{{ 'USER.ACCOUNT' | translate }}</span>
  </header>

  <h2>{{ 'USER.PROFILE' | translate }}</h2>

  <ul>
    <li>{{ 'USER.INFOS' | translate }}</li>
    <li>{{ 'USER.CHANGEPASS' | translate }}</li>
    <li>{{ 'USER.SETTINGS' | translate }}</li>
  </ul>

  <ul>
    <li (click)="goToLegalPage()">{{ 'USER.LEGAL' | translate }}</li>
    <li (click)="goToCommentsPage()">{{ 'USER.COMMENTS' | translate }}</li>
  </ul>

  <ul>
    <li *ngIf="!isLoggedIn" (click)="goToLoginPage()">{{ 'USER.CO' | translate }}</li>
    <li *ngIf="isLoggedIn" (click)="logout()">{{ 'USER.DECO' | translate }}</li>
  </ul>

</ion-content>
