page-list-doctors {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #2db8bf;
    color: #fff;
    ion-icon {
      font-size: 3.2em;
    }
    span {
      display: inline-block;
      margin-left: 15px;
      font-size: 1.3em;
    }
  }
  #location {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #4a76bb;
    color: #fff;
    ion-icon {
      font-size: 2em;
    }
    span {
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      flex: 1;
      border-bottom: .5px solid #fff;
    }
  }
  .loader {
    text-align: center;
  }
  #doctors-list {
    .doctor {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 4px;
      &:nth-child(2n+1) {
        background-color: #f5f5f5;
      }
      .doctor-photo {
        flex: 1;
        text-align: center;
        ion-icon {
          font-size: 3em;
        }
      }
      .doctor-infos {
        flex: 3;
        padding: 10px;
        p {
          margin: 3px 0;
        }
        .name {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      .doctor-distance {
        flex: 1;
        p {
          font-size: 1.4em;
          margin: 0;
          text-align: center;
        }
      }
    }
  }

  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(54, 103, 180, 0.9), rgba(55, 165, 192, 0.9));
    > ion-icon {
      position: absolute;
      top: 15px;
      right: 30px;
      font-size: 50px;
      color: #fff;
    }
    > div {
      position: relative;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      width: 75%;
      input {
        border: 1px solid #eee;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 10px;
      }
      button {
        width: 100%;
        padding: 10px 15px;
        background-color: #1ca74a;
        color: #fff;
        font-size: 17px;
        border-radius: 3px;
        box-shadow: 0px 2px 7px #999;
        ion-icon {
          vertical-align: text-bottom;
          margin-right: 7px;
        }
      }
    }
  }
}
