<ion-content padding>
  <form>
    <section class="fields">
      <select #speciality>
        <option value="-1">{{ "SHOW_DOCTOR.SPECIALITY" | translate }}</option>
        <option value="{{ spe[0] }}" *ngFor="let spe of specialities">{{ spe[1] }}</option>
      </select>
      <input type="text" placeholder="Lieu" #place value="{{ location }}" />
    </section>
    <p class="error">{{ error }}</p>
    <button type="button" (click)="searchDoctors(speciality.value, place.value)">
      <ion-icon name="search"></ion-icon>
      <span>Rechercher</span>
    </button>
    <button type="button" (click)="searchDoctorsAroundMe(speciality.value)">
      <ion-icon name="pin"></ion-icon>
      <span>Autour de moi</span>
    </button>
  </form>

  <hr>

  <section id="doctors-list">
    <p class="loader" *ngIf="loading"><ion-spinner></ion-spinner></p>
    <p *ngIf="doctors && doctors.length == 0"><em>Aucun docteur ne correspond à votre recherche.</em></p>

    <div class="doctor" *ngFor="let d of doctors">
      <p>{{ d.nom | uppercase }} {{ d.prenom }}</p>
      <p>{{ d.distance }}km</p>
      <p>{{ d.adresse }}</p>
    </div>
  </section>
</ion-content>
